<div class="container-fluid">
  <div class="row">
    <div class="col-10 mx-auto mt-4">
      <h1 class="text-left mb-4 mt-2">These are the last secrets:</h1>
      <%= list_in_index(@posts) %>
    </div>
  </div>
</div>