<div class="container-fluid">
  <div class="row">
    <div class="col-6 mx-auto mt-5 text-center">
      <h1 class="mb-4">Share your Secret here:</h1>
      <%= render 'form' %>

      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
    </div>
  </div>
</div>

